*{
    margin: 0;
}

.ribbon-container{
    width:80%;
    margin: 50px auto;
    background-color: #657DC4;
    color: #fff;
    position: relative;
}

.ribbon-text{
    padding: 30px;
    text-align: center;
}

.ribbon-left{
    width: 0px;
    height: 0px;
    top:3px;
    left:-50px;
    border: 36px solid #838ED9;
    border-left-color: transparent;
    position:absolute;
    z-index: -1;
}

.ribbon-right{
    width: 0px;
    height: 0px;
    top:3px;
    right:-50px;
    border: 36px solid #838ED9;
    border-right-color: transparent;
    position:absolute;
    z-index: -1;
}