/* System Fonts as used by Medium and WordPress */
body {
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;*/
  font-family: 'Roboto Condensed', sans-serif;
}

*{
	margin: 0;
}

p{
    color:red;
}

h1{
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	font-style: italic;
	color: white;
	background-color: red;
	height: 300px;
	margin:5px;
	outline-width: 5px;
	outline-style: dotted;
	outline-color: chartreuse;

}

.box1 {
	height: 100px;
	background-color: #7045AF;
	display: none;
}

.box2 {
	height: 600px;
	background-image: url('../image/sample.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	background-attachment: fixed;
}

.paragraph1 {
    color:blue;
    background-color: rgb(255,258,0);
}

.paragraph1 span{
    font-size: 3em;
    color: black;
	background-color: chartreuse;
	display: inline-block;
	height: 400px;
	width: 500px;
}

.paragraph2{
    font-weight: 700;
    font-style: italic;
    font-variant: small-caps;
	padding-top: 40px;
	margin-bottom: 50px;
	background-color: black;
}

.paragraph2 a{
	display: block;
	text-decoration: none;
	background-color: red;
}

.paragraph3{
	text-indent: 100px;
	letter-spacing: 5px;
	word-spacing: 20px;
	display: inline;
	background-color: deepskyblue;
}