*{
    margin: 0;
}

.tooltip-container{
    width: 50%;
    margin: 50px auto;
}

.tooltip-text{
    color: #657DC4;
    cursor: help;
    text-decoration: underline;
    margin-bottom: 10px;
}

.tooltip-full-text{
    padding: 10px;
    background-color: #F59292;
    color: #fff;
    display: none;
}

.tooltip-text:hover + .tooltip-full-text{
    display: block;
}